body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.book-library {
    background-color: #ffffff;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-library h1 {
    text-align: center;
    margin-bottom: 20px;
}

.book {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

.book img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2ecc71; /* Corrected background color */
    border-radius: 8px; /* Added border-radius */
    padding: 10px;
    color: #ffffff; /* Corrected text color */
}

.book-title {
    font-size: 18px;
    margin: 0;
}

.book-author {
    color: #777777;
    margin: 5px 0;
}

.book-price {
    color: #2ecc71;
    font-size: 16px;
}